{% load staticfiles %}

<head>
	<title>factory</title>
	<meta content="text/html; charset=utf-8" http-equiv="content-type">
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<!---! add setting to turn off tiling here-->
	<script type="text/javascript" src="{% static "jquery-3.2.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "masonry.pkgd.min.js" %}"></script>
	<script type="text/javascript" src="{% static "bootstrap-treeview.min.js" %}"></script>
	<!---bootstrap.css messes up ours. the formatting on the simulator page looks weird ... ??? -->
	<!--<link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}">-->
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap-treeview.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
	</style>
</head>
<body>

{% block content %}
{% endblock %}

<script>
var container = document.querySelector('.container');
var masonry = new Masonry(container, {
columnWidth: 50,
itemSelector: '.brick'
});
</script>

</body>