# omnicalc requirements
# removed cython
numpy
scipy
MDAnalysis
joblib
PyYAML
h5py
Pillow
matplotlib
# factory requirements
Django
beautifulsoup4
pygments
# omnicalc 3D (via mayavi) requirements
# anaconda
vtk
pyqt
distribute
pyside
qt
