# minimial requirements for factory via anaconda "conda" (i.e. not "pip")

cython
numpy
scipy
Django
joblib
PyYAML
h5py
Pillow
matplotlib
# MAYAVI procedure requires some conda and mayavi in pip
#anaconda
#vtk
#pyqt
#distribute
#pyside
#qt
