# strays not available via conda
django-extensions
ipython[notebook]
brewer2mpl
mayavi
# serve django via apache (requires apache2-devel rpm because no conda package for py2 yet)
mod_wsgi
jupyter_contrib_nbextensions
#django-lockdown
